<mat-toolbar color="primary" class="topbar">
  <span class="brand">ApiCContigoExterno</span>

  <span class="spacer"></span>

  <!-- ALBUM -->
  <button mat-button [matMenuTriggerFor]="menuAlbum">Álbum</button>
  <mat-menu #menuAlbum="matMenu">
    <button mat-menu-item routerLink="/album/listar">Listado</button>
    <button mat-menu-item routerLink="/album/nuevo">Crear</button>
  </mat-menu>

  <!-- CANCIONES -->
  <button mat-button [matMenuTriggerFor]="menuCanciones">Canciones</button>
  <mat-menu #menuCanciones="matMenu">
    <button mat-menu-item routerLink="/canciones/listar">Listado</button>
    <button mat-menu-item routerLink="/canciones/nuevo">Crear</button>
  </mat-menu>

  <!-- CANTANTE -->
  <button mat-button [matMenuTriggerFor]="menuCantante">Cantante</button>
  <mat-menu #menuCantante="matMenu">
    <button mat-menu-item routerLink="/cantante/listar">Listado</button>
    <button mat-menu-item routerLink="/cantante/nuevo">Crear</button>
  </mat-menu>

  <!-- GENERO MUSICAL -->
  <button mat-button [matMenuTriggerFor]="menuGenero">Género Musical</button>
  <mat-menu #menuGenero="matMenu">
    <button mat-menu-item routerLink="/genero-musical/listar">Listado</button>
    <button mat-menu-item routerLink="/genero-musical/nuevo">Crear</button>
  </mat-menu>

  <!-- PAIS -->
  <button mat-button [matMenuTriggerFor]="menuPais">País</button>
  <mat-menu #menuPais="matMenu">
    <button mat-menu-item routerLink="/pais/listar">Listado</button>
    <button mat-menu-item routerLink="/pais/nuevo">Crear</button>
  </mat-menu>
</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>
